attached_assets/Pasted--nodes-parameters-httpMethod-POST-path-agend-1748981530912.txt
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        -560
      ],
      "id": "95f16f08-e288-4fb2-ad0e-b99a86cf26aa",
      "name": "Webhook",
      "webhookId": "7cb06bcf-7382-4d77-974d-53ffbf868570"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f208dda-d7d3-4658-98ef-79c400d98d6a",
              "name": "nome",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "d85da678-b2ba-439a-a933-a62e2e0c3bcf",
              "name": "whatsapp",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0]}}",
              "type": "string"
            },
            {
              "id": "6f77fc68-e4a3-4bd1-af06-909dc16534b5",
              "name": "instance",
              "value": "={{ $('Webhook').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "141d4a45-e4ad-47a6-924f-79c11716ec27",
              "name": "fromMe",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "310a9c1c-64c4-4e58-a638-cc97d7ceb925",
              "name": "keyId",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "a744d5bb-469d-454b-b846-961908573819",
              "name": "textoMensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "94d6ae6c-5d7b-405d-8c13-b9b03ff4e52c",
              "name": "tipoMensagem",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "5863ea49-601d-4092-b1a7-235cd195f1dc",
              "name": "empresaContratante",
              "value": "={{ $('Webhook').item.json.body.sender.split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -160
      ],
      "id": "9cc0a146-bb47-4eb1-81ee-0c1e9e76547a",
      "name": "Edit Fields",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Edit Fields1').item.json.instance }}",
        "remoteJid": "={{ $('Edit Fields1').item.json.whatsapp }}",
        "messageText": "=Ol치, {{ $('Edit Fields1').item.json.nome }}游륲n\nBem vindo novamente!\n\nAcesse seu link exclusivo para agendamento:\n\n{{ $('Generate Auth Existe').item.json.lovableUrl }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1700,
        -580
      ],
      "id": "6560a092-9bf6-4f02-a3c1-8453840b4009",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "lLVFKOgk3eLZgfyf",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "user_auth",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.whatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        -560
      ],
      "id": "0685f44f-4dca-4945-9879-4bbf7a70ea48",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "T0L2VnM0AOCnwWJP",
          "name": "Supabase account Protalk"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8655d67-d21d-4b62-87ed-cb0ba2ac47db",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "={{ $json.phone }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -560
      ],
      "id": "962d988a-52bb-4791-b649-92fee57c9ebb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_auth",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields1').item.json.whatsapp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "securitycode",
              "fieldValue": "={{ $json.securityCode }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        -580
      ],
      "id": "e123bc2e-b7d2-4664-b43d-20a6a4b86365",
      "name": "Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "T0L2VnM0AOCnwWJP",
          "name": "Supabase account Protalk"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Edit Fields').item.json.instance }}",
        "remoteJid": "={{ $('Edit Fields').item.json.whatsapp }}",
        "messageText": "=Ol치, {{ $('Edit Fields').item.json.nome }}游륲n\nBem muito bem vindo!\n\nAcesse seu link exclusivo para agendamento:\n\n{{ $('Generate Auth N Existe').item.json.lovableUrl }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1700,
        -300
      ],
      "id": "8b0ffac7-4af7-4d96-9f0e-b11611148eec",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "lLVFKOgk3eLZgfyf",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "user_auth",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Edit Fields').item.json.whatsapp }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Edit Fields').item.json.nome }}"
            },
            {
              "fieldId": "securitycode",
              "fieldValue": "={{ $json.securityCode }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        -300
      ],
      "id": "842a4517-dedf-4d73-9ea1-0572bf258111",
      "name": "Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "T0L2VnM0AOCnwWJP",
          "name": "Supabase account Protalk"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fun칞칚o para gerar c칩digo aleat칩rio\nfunction generateSecurityCode() {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let code = '';\n  for (let i = 0; i < 8; i++) {\n    code += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return code;\n}\n\nconst editData = $input.all()[0]?.json;\nconst supabaseData = $input.all()[1]?.json?.data || [];\n\nconst isNewClient = supabaseData.length === 0;\nconst whatsapp = editData.whatsapp || editData.phone;\nconst nome = editData.nome || editData.name || \"Cliente\";\n\nif (!whatsapp) {\n  throw new Error(\"N칰mero de WhatsApp n칚o encontrado.\");\n}\n\nconst securityCode = generateSecurityCode();\nconst lovableUrl = `https://agendamentos-protalk.lovable.app/?phone=${whatsapp}&code=${securityCode}`;\n\nif (isNewClient) {\n  return [{\n    json: {\n      phone: whatsapp,\n      name: nome,\n      securityCode,\n      lovableUrl,\n      isNewClient: true\n    }\n  }];\n} else {\n  const client = supabaseData[0];\n  return [{\n    json: {\n      ...client,\n      lovableUrl,\n      isNewClient: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -580
      ],
      "id": "db830f0c-304b-4a34-a510-1227aa6c429b",
      "name": "Generate Auth Existe"
    },
    {
      "parameters": {
        "jsCode": "// Fun칞칚o para gerar c칩digo aleat칩rio\nfunction generateSecurityCode() {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let code = '';\n  for (let i = 0; i < 8; i++) {\n    code += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return code;\n}\n\n// Pega dados apenas do primeiro input (Edit Fields)\nconst input = $input.all()[0]?.json || {};\n\n// Extrai n칰mero e nome\nconst whatsapp = input.whatsapp || 'erro';\nconst nome = input.nome || 'Cliente';\n\n// Valida칞칚o\nif (!whatsapp || whatsapp === 'erro') {\n  throw new Error(\"N칰mero de WhatsApp ausente ou inv치lido.\");\n}\n\n// Gera c칩digo e URL\nconst securityCode = generateSecurityCode();\nconst lovableUrl = `https://agendamentos-protalk.lovable.app/?phone=${whatsapp}&code=${securityCode}`;\n\n// Retorno do novo cliente\nreturn [{\n  json: {\n    phone: whatsapp,\n    name: nome,\n    securityCode,\n    lovableUrl,\n    isNewClient: true\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -160
      ],
      "id": "57c2e0c7-8b99-4ced-b883-2fca66df06d8",
      "name": "Generate Auth N Existe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f208dda-d7d3-4658-98ef-79c400d98d6a",
              "name": "nome",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "d85da678-b2ba-439a-a933-a62e2e0c3bcf",
              "name": "whatsapp",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0]}}",
              "type": "string"
            },
            {
              "id": "6f77fc68-e4a3-4bd1-af06-909dc16534b5",
              "name": "instance",
              "value": "={{ $('Webhook').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "141d4a45-e4ad-47a6-924f-79c11716ec27",
              "name": "fromMe",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "310a9c1c-64c4-4e58-a638-cc97d7ceb925",
              "name": "keyId",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "a744d5bb-469d-454b-b846-961908573819",
              "name": "textoMensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "94d6ae6c-5d7b-405d-8c13-b9b03ff4e52c",
              "name": "tipoMensagem",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "84f53421-1dfb-45e9-bc95-4c7109589dba",
              "name": "empresaContratante",
              "value": "={{ $('Webhook').item.json.body.sender.split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        -560
      ],
      "id": "2526bb91-63f4-4fe5-bea6-972996beb1c0",
      "name": "Edit Fields1",
      "executeOnce": false,
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate Auth N Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Auth Existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Auth Existe": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Auth N Existe": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  }
}